{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgResourceBundle' %}
{% set page_title = 'resource.delete'|trans({'%name%': resource.name }) %}

{% block content %}
  {% include '@BkstgResource/Resource/_actions.html.twig' with { 'production': production, 'resource': resource } only %}
  <p>{{ 'resource.delete_confirm'|trans({'%resource%': resource.name}) }}</p>
  <p><strong>{{ 'resource.delete_no_undo'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <a href="{{ url('bkstg_production_admin_index') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
