{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgResourceBundle' %}
{% set page_title = 'resources'|trans %}

{% block content %}
  {# Link to create a new resource. #}
  <a href="{{ url('bkstg_resource_create', {'production_slug': production.slug}) }}" class="btn btn-success">
    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'resource.create'|trans }}
  </a>

  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'resource.label.name'|trans }}</th>
          <th>{{ 'resource.label.created'|trans }}</th>
          <th>{{ 'resource.label.updated'|trans }}</th>
          <th>{{ 'resource.label.author'|trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for resource in resources %}
        <tr{% if resource.pinned %} class="table-warning"{% endif %}>
          <td>
            <a href="{% path resource.media, 'reference' %}" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-download"></i><span class="sr-only">{{ 'resource.download'|trans({'%name%': resource.name}) }}</span></a>
            {% if is_granted('edit', resource) %}
              <div class="btn-group btn-group-sm">
                <a href="{{ url('bkstg_resource_update', {'production_slug': production.slug, 'id': resource.id}) }}" class="btn btn-info"><i class="fa fa-pencil-alt" aria-hidden="true"></i><span class="sr-only">{{ 'edit'|trans }}</span></a>
                <a href="{{ url('bkstg_resource_delete', {'production_slug': production.slug, 'id': resource.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">{{ 'delete'|trans }}</span></a>
              </div>
            {% endif %}
          </td>
          <td><i class="fa fa-{{ file_icon(resource.media) }}"></i> <a href="{{ url('bkstg_resource_read', { 'production_slug': production.slug, 'id': resource.id }) }}">{{ resource.name }}</a></td>
          <td>{{ resource.created|date(full_date) }}</td>
          <td>{{ resource.updated|date(full_date) }}</td>
          <td>{{ get_user(resource.author) }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">{{ 'resource.no_resources'|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(resources) }}
{% endblock %}
